# Project exclude paths
/venv/
/.ipynb_checkpoints/
/data/day_0_msg_1.txt
/data/day_0_msg_2.mov
/data/day_0_msg_3.txt
/data/day_0_msg_4_Стань_лучшей_версией_себя.pdf
/data/day_1_msg_1.txt
/data/day_1_msg_2.txt
/data/day_1_msg_3_part_1.mp3
/data/day_1_msg_4_part_2.aac
/data/day_1_msg_5_part_3.aac
/data/day_1_msg_6_part_4.mp3
/data/day_1_msg_7_part_5.mp3
/data/day_1_msg_8_part_6-Техника_слива_энергии.pdf
/data/day_1_msg_9.txt
/data/day_2_msg_1.txt
/data/day_2_msg_2.txt
/data/day_2_msg_3_part_1.mp3
/data/day_2_msg_4_part_2.aac
/data/day_2_msg_5_part_3.aac
/data/day_2_msg_6_part_4.m4a
/data/day_2_msg_7_part_5-Тест_на_количество_энергии.aac
/data/day_2_msg_8_part_6-Техника_разговор_с_ребёнком.m4a
/data/day_2_msg_9_part_7-Денежная_дорожка.m4a
/data/day_2_msg_10.txt
/data/day_3_msg_1.txt
/data/day_3_msg_2.txt
/data/day_3_msg_3_part_1.mp3
/data/day_3_msg_4_part_2.mp3
/data/day_3_msg_5_part_3.mp3
/data/day_3_msg_6-Календарь_ЭКАДАШИ.JPG
/data/day_3_msg_7_part_4.aac
/data/day_3_msg_8-Практика_Приветствие_луне.pdf
/data/day_3_msg_9-Как_наполнить_себя_энергией.pdf
/data/day_3_msg_10-Медитация.pdf
/data/day_3_msg_11.txt
/data/day_4_msg_1.txt
/data/day_4_msg_2.txt
/data/day_4_msg_3_part_1.mp3
/data/day_4_msg_4_part_2.m4a
/data/day_4_msg_5_part_3.m4a
/data/day_4_msg_6_part_4.aac
/data/day_4_msg_7.txt
/data/day_П_msg_1.txt
